plugins {
    id("{{ modid }}.java")
}

{% if minecraft_version_in_mod_version %}
val minecraftVersion: String by project

// scuffed sanity check, because we need minecraftVersion to be in gradle.properties for the hexdoc plugin
libs.versions.minecraft.get().also {
    if (minecraftVersion != it) {
        throw IllegalArgumentException("Mismatched Minecraft version: gradle.properties ($minecraftVersion) != libs.versions.toml ($it)")
    }
}
{% endif %}

architectury {
    // this looks up the value from gradle/libs.versions.toml
    minecraft = libs.versions.minecraft.get()
}

tasks {
    register("runAllDatagen") {
        dependsOn(":{{ fabric_path }}:runDatagen")
        dependsOn(":{{ forge_path }}:runCommonDatagen")
        dependsOn(":{{ forge_path }}:runForgeDatagen")
    }
}
