{
  name: "{{ modid }}.book.patterns.spells.dummy_spells",
  category: "hexcasting:patterns/spells",
  icon: "minecraft:spruce_sign",
  advancement: "hexcasting:root",
  pages: [
    {
      type: "hexcasting:pattern",
      op_id: "{{ modid }}:congratulate",
      anchor: "{{ modid }}:congratulate",
      input: "entity",
      output: "",
      text: "{{ modid }}.book.patterns.spells.dummy_spells.congratulate",
    },
  ],
}
