package {{ kotlin_package }}.forge

import dev.architectury.platform.forge.EventBuses
import {{ kotlin_package }}.{{ classname }}
import {{ kotlin_package }}.forge.datagen.Forge{{ classname }}Datagen
import net.minecraftforge.fml.common.Mod
import thedarkcolour.kotlinforforge.forge.MOD_BUS

@Mod({{ classname }}.MODID)
class Forge{{ classname }} {
    init {
        MOD_BUS.apply {
            EventBuses.registerModEventBus({{ classname }}.MODID, this)
            addListener(Forge{{ classname }}Client::init)
            addListener(Forge{{ classname }}Datagen::init)
        }
        {{ classname }}.init()
    }
}
