package {{ package }}.networking.msg

import {{ package }}.config.{{ classname }}Config
import net.minecraft.network.FriendlyByteBuf

data class MsgSyncConfigS2C(val serverConfig: {{ classname }}Config.ServerConfig) : {{ classname }}MessageS2C {
    companion object : {{ classname }}MessageCompanion<MsgSyncConfigS2C> {
        override val type = MsgSyncConfigS2C::class.java

        override fun decode(buf: FriendlyByteBuf) = MsgSyncConfigS2C(
            serverConfig = {{ classname }}Config.ServerConfig.decode(buf),
        )

        override fun MsgSyncConfigS2C.encode(buf: FriendlyByteBuf) {
            serverConfig.encode(buf)
        }
    }
}
