package {{ kotlin_package }}.networking.msg

import dev.architectury.networking.NetworkChannel
import dev.architectury.networking.NetworkManager.PacketContext
import {{ kotlin_package }}.{{ classname }}
import {{ kotlin_package }}.networking.{{ classname }}Networking
import {{ kotlin_package }}.networking.handler.applyOnClient
import {{ kotlin_package }}.networking.handler.applyOnServer
import net.fabricmc.api.EnvType
import net.minecraft.network.FriendlyByteBuf
import net.minecraft.server.level.ServerPlayer
import java.util.function.Supplier

sealed interface {{ classname }}Message

sealed interface {{ classname }}MessageC2S : {{ classname }}Message {
    fun sendToServer() {
        {{ classname }}Networking.CHANNEL.sendToServer(this)
    }
}

sealed interface {{ classname }}MessageS2C : {{ classname }}Message {
    fun sendToPlayer(player: ServerPlayer) {
        {{ classname }}Networking.CHANNEL.sendToPlayer(player, this)
    }

    fun sendToPlayers(players: Iterable<ServerPlayer>) {
        {{ classname }}Networking.CHANNEL.sendToPlayers(players, this)
    }
}

sealed interface {{ classname }}MessageCompanion<T : {{ classname }}Message> {
    val type: Class<T>

    fun decode(buf: FriendlyByteBuf): T

    fun T.encode(buf: FriendlyByteBuf)

    fun apply(msg: T, supplier: Supplier<PacketContext>) {
        val ctx = supplier.get()
        when (ctx.env) {
            EnvType.SERVER, null -> {
                {{ classname }}.LOGGER.debug("Server received packet from {}: {}", ctx.player.name.string, this)
                when (msg) {
                    is {{ classname }}MessageC2S -> msg.applyOnServer(ctx)
                    else -> {{ classname }}.LOGGER.warn("Message not handled on server: {}", msg::class)
                }
            }
            EnvType.CLIENT -> {
                {{ classname }}.LOGGER.debug("Client received packet: {}", this)
                when (msg) {
                    is {{ classname }}MessageS2C -> msg.applyOnClient(ctx)
                    else -> {{ classname }}.LOGGER.warn("Message not handled on client: {}", msg::class)
                }
            }
        }
    }

    fun register(channel: NetworkChannel) {
        channel.register(type, { msg, buf -> msg.encode(buf) }, ::decode, ::apply)
    }
}
