package {{ package }}.fabric

import {{ package }}.{{ classname }}Client
import net.fabricmc.api.ClientModInitializer

object Fabric{{ classname }}Client : ClientModInitializer {
    override fun onInitializeClient() {
        {{ classname }}Client.init()
    }
}
