@file:JvmName("{{ classname }}AbstractionsImpl")

package {{ kotlin_package }}.fabric

import {{ kotlin_package }}.registry.{{ classname }}Registrar
import net.minecraft.core.Registry

fun <T : Any> initRegistry(registrar: {{ classname }}Registrar<T>) {
    val registry = registrar.registry
    registrar.init { id, value -> Registry.register(registry, id, value) }
}
